<h3>Book catalog</h3>
<a class="createLink" href="/catalog/create">Create Book</a>
{{#if books}}
    <ul>
        {{#each books}}
            {{> book}}
        {{/each}}
    </ul>
{{else}}
    <span>No books in database</span>
{{/if}}
