<form method="POST" action="/catalog/create">
    <label for="title">Title: <input type="text" name="title" id="title"></label>
    <label for="author">Author: <input type="text" name="author" id="author"></label>
    <input type="submit" name="" id="" value="create">
</form>