html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

body {
    background-color: rgb(191, 209, 216);
    margin: 0;
}

#container {
    width : 980px;
    margin: 0 auto;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;

}

nav::after{
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: inline-block;
    background-color: rgb(197, 190, 190);
    margin: 0 4px;
    padding: 4px 8px;
    transition: 0.5s;
}

nav a:hover{
    background-color: rgb(173, 197, 206);
}

main {
    padding: 0 32px;
}

.book{
    background-color: rgb(197, 190, 190);
    margin: 6px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.book a {
    background-color: #fff;
    border: 1px solid rgb(54, 47, 47);
    border-radius: 5px;
    padding: 1px 3px;
    margin: 3px;
}

a.createLink{
    text-decoration: underline;
    transition: 0.3s;
}

a.createLink:hover{
    color: rgb(75, 61, 61);
}
